<div class="bg-degraded  text-white">
  <app-nav-home [user]="user"></app-nav-home>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let pelicula of peliculasCarrousel">
      <div class="image-container">
        <img fill style="position:relative;" priority height="540"  [src]="'http://localhost:8000/'+pelicula.imagen_url" class="d-block w-100" alt="...">
        <div class="image-overlay"></div>
      </div>
      <div class="carousel-caption">
        <h1>{{ pelicula.titulo }}</h1>
        <h5><p>{{ pelicula.descripcion }}</p></h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <i class="bi bi-caret-left fs-1"></i>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <i class="bi bi-caret-right fs-1"></i>
  </button>
</div>
  <div class="container mt-4">
    <div class="row">
      <div *ngFor="let movie of peliculas" class="col-12 col-md-4 mb-4">
        <a [routerLink]="['/player', movie.id]" class="movie-link text-decoration-none">
          <div class="card">
            <img [src]="'http://localhost:8000/'+movie.imagen_url" class="card-img-top" alt="Movie Image">
            <div class="card-body bg-degraded-purple">
              <h4 class="card-title text-white">{{ movie.titulo }}</h4>
            </div>
          </div>
          <div class="popover bg-degraded-purple">
            <div class="arrow"></div>
            <h3 class="popover-header ">{{ movie.titulo }}</h3>
            <div class="popover-body text-white">
             {{movie.descripcion.substring(0, 100) + '...'}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>