<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="fs-4 mb-2">pelisPeda</span>
      <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person fs-4"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="right: 30px;">
            <li><a class="dropdown-item" href="#">Configuracion <i class="bi bi-gear fs-5 text-primary"></i></a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item" (click)="closeSession()">Cerrar sesion <i class="bi bi-box-arrow-right fs-5 text-danger"></i></button></li>
        </ul>
    </div>
    </div>
  </nav>